<app-header></app-header>

<ion-content class="dashboard-content">
  <div class="main-container-v2">
    <div class="header-title-v2 animate-fade">
      <div class="title-with-icon">
        <h1>Identifica cualquier raza <ion-icon name="sparkles" class="title-sparkle"></ion-icon></h1>
      </div>
    </div>

    <div class="section-container animate-fade">
      <div class="upload-card-v2" [class.drag-over]="isDragging">
        <input type="file" (change)="onFileSelected($event)" accept="image/*,video/*" id="fileInput" hidden>

        <label for="fileInput" class="upload-zone" [class.drag-over]="isDragging" (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
          <div class="icon-circle">
            <ion-icon [name]="isDragging ? 'cloud-upload' : 'cloud-upload'" class="upload-icon"
              [class.bounce]="isDragging"></ion-icon>
          </div>
          <h3>{{ isDragging ? 'Suelta aquí la imagen' : 'Sube una foto o vídeo' }}</h3>
          <p>{{ isDragging ? '' : 'Elige una donde se aprecien bien los rasgos para mejores resultados.' }}</p>
        </label>

        <div class="preview-container" *ngIf="imagePreview || videoPreview">

          <img *ngIf="imagePreview && fileType === 'image'" [src]="imagePreview" class="preview-media">

          <img *ngIf="videoPreview && selectedFile?.type === 'image/gif'" [src]="videoPreview" class="preview-media">

          <video *ngIf="videoPreview && selectedFile?.type !== 'image/gif'" [src]="videoPreview" autoplay loop muted
            playsinline class="preview-media">
          </video>


        </div>
        <ion-button *ngIf="imagePreview || videoPreview" shape="round" expand="block"
          class="btn-modern-v2 ion-margin-top" fill="outline" (click)="clearPreview()" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Quitar
        </ion-button>
      </div>

      <ion-button *ngIf="selectedFile" expand="block" (click)="uploadAndPredict()" [disabled]="isLoading"
        class="btn-modern-v2 gradient-btn ion-margin-top">
        <ion-spinner *ngIf="isLoading" slot="start" name="crescent"></ion-spinner>
        <ion-icon *ngIf="!isLoading" slot="start" name="sparkles-outline"></ion-icon>
        {{ isLoading ? 'Analizando...' : 'Analizar' }}
      </ion-button>
    </div>

  </div>
</ion-content>