.chat-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
    display: inline-block;

    &.user {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        float: right;
        border-bottom-right-radius: 2px;
    }

    &.assistant {
        background-color: var(--ion-color-light);
        color: var(--ion-text-color);
        float: left;
        border-bottom-left-radius: 2px;
    }
}

ion-list {
    display: flex;
    flex-direction: column;
}

ion-item {
    --inner-padding-end: 0;
    --padding-start: 0;
}