// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --pawsense-orange: #F6A655FF;

    /* Overriding the primary color (used for selected tabs) */
    --ion-color-primary: var(--pawsense-orange);
    --ion-color-primary-rgb: 246, 166, 85;
    /* RGB version for overlays */
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #d9924b;
    --ion-color-primary-tint: #f7af66;
    --header-border-color: #e6e9ec;
}

@font-face {
    font-family: 'Tondo-Modified';
    src: url('/assets/fonts/Tondo W01 Bold - Modified.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.dashboard-header {
    background: white;
    border-bottom: 1px solid var(--header-border-color);

    ion-toolbar {
        --background: white;
    }
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    font-family: 'Tondo-Modified', sans-serif;

    ion-icon {
        font-size: 1.8rem;
    }
}